.h1 {
  padding-top: 10px;
  color: #d8bfd8;
  font-family: "Courier New";
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px gray; */
  font-size: 40px;
}
.form {
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.input {
  padding: 10px;
  font-family: monospace;
  border-radius: 20px;
  flex-basis: 50%;
  border: 1px solid #d8bfd8;
  outline: 1px solid transparent;
}

.button {
  margin-right: 20px;
  border-radius: 10px;
  font-family: monospace;
  padding: 10px 20px;
  border: 1px solid #d8bfd8;
  background-color: white;
  /* cursor: pointer; */
}

.button:hover {
  color: #b22222;
  cursor: pointer;
}

.noNotes {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #d8bfd8;
  font-weight: 800;
}

.deleteButton {
  margin-left: 10px;
  background-color: #b22222;
  font-family: copperplate;
  padding: 2px 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.label {
  margin-left: 20px;
  box-sizing: border-box;
  border: solid #d8bfd8 1px;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
}

.unorderedNotesList {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.li {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  font-size: 20px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  border: #d8bfd8 1px solid;
  margin-bottom: 10px;
  /* min-width: 400px;
  max-width: 600px; */
  flex-wrap: wrap;
  background-color: #fffafa;
  font-family: "Courier New";
}

.id {
  margin-right: 5px;
}

.noteList {
  font-family: monospace;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loading {
  display: flex;
  justify-content: center;
  color: #d8bfd8;
  align-self: center;
  font-family: "Courier New";
  margin-top: 100px;
  font-weight: 800;
}
